html
  head
    title= title
  body
    h1= message

    if showLogin
      p Login form here
    if showRegistration
      p Registration form here
    if showSocialAuth
      p Social auth options here
