html
  head
    script(type='text/javascript').
    if (foo) bar(1 + 5);
      console.log('This is a script block in Pug');
  body
    if youAreUsingPug
      p You are amazing
    else
      p Get on it!